html {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

@media (min-width: 800px) {
  body {
    display: flex;
    flex-direction: row-reverse;
  }

  main {
    max-width: 40em;
  }

  .sidebar {
    flex-grow: 1;
  }

  nav {
    margin-left: 4em;
    width: 25em;
    position: sticky;
    top: 3em;
  }
}

nav a {
  text-decoration: none;
}

nav a.active,
nav a.hover {
  text-decoration: underline;
}

nav h3 {
  margin-top: 2em;
}

.toc ul {
  list-style: none;
  padding-left: 1em;
}

pre {
  white-space: pre-wrap;
}

blockquote {
  font-style: italic;
}
